<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1><span id="head">todo</span>list.</h1>
        <h2>A simple todo list app that makes living easy.</h2>
    </header>
    
    <section class="form">
        <input type="text" placeholder="enter your task" id="todoInput" />
        <button class="taskbtn" id="add-task">add</button>
    </section>
    
    <ul class="list">
        
    </ul>
   
    <script type="text/javascript" src="app.js"></script>
</body>
